@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */

@import "tailwindcss";

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

body {
  font-family: Inter;
}

.white-gradient {
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.main-animate {
  padding: 20px 0
}

.main-animate .slide-track {
  display: flex;
  align-items: center;
  gap: 4px;
  animation: 10s linear infinite scroll
}

.main-animate .slide {
  height: 32px;
  flex-shrink: 0;
}

@keyframes scroll {
  0% {
    transform: translate(0)
  }

  100% {
    transform: translateX(-1150px)
  }
}

/* 
.section {
  background-image:
    url("src/assets/images/left-image.png"),
    url("src/assets/images/right-image.png");
  background-size: cover, cover;
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
} */